* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url(../img/fufu.jpg);
    background-size: cover; /*使图片尽可能覆盖整个页面*/
    background-position: top;    /*使图片上对齐*/
    background-attachment: fixed;   /*使背景固定，不随着滚动条移动*/
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto Mono', 'Noto Sans Simplified Chinese';
    overflow-x: hidden; /*设置水平方向溢出时不显示滚动条*/
    font-family: 'Roboto Mono', 'Noto Sans Simplified Chinese';
}

#hello {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;  
    align-items: center;
    font-weight: 900;
    font-size: xxx-large;
    background: linear-gradient(-45deg, rgb(13, 0, 255), rgb(253, 85, 127));
    -webkit-background-clip: text;
    color: transparent;
}