* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*宽度和高度包括内边距和边框*/
}

html {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: fit-content;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../img/fufu.jpg);
    background-size: cover; /*使图片尽可能覆盖整个页面*/
    background-position: top;    /*使图片上对齐*/
    background-attachment: fixed;   /*使背景固定，不随着滚动条移动*/
    width: 100vw;
    height: fit-content;
    font-family: 'Roboto Mono', 'Noto Sans Simplified Chinese';
    overflow-x: hidden; /*设置水平方向溢出时不显示滚动条*/
}

::-webkit-scrollbar {   /*使用伪类选择器实现滚动效果，但隐藏滚动条*/
    display: none;
}

ul {    
    list-style-type: none;  /*去掉点*/
}

hr {    /*设置下划线样式*/
    margin: 10px;
    border: none;
    width: 90%;
    padding: 1px;
    background-color: rgb(138, 106, 132);
    border-radius: 1px;
}

#nav_block {
    height: 84px;
    width: 100vw;
    box-shadow: 0px 1px 10px rgb(36, 36, 36);
}

#nav {
    border: none;
    height: 100%;
    width: 100%;
}

#hello {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;  
    align-items: center;
    font-weight: 900;
    font-size: xxx-large;
    background: linear-gradient(-45deg, rgb(13, 0, 255), rgb(253, 85, 127));
    -webkit-background-clip: text;
    color: transparent;
    animation: slideInFromBottom 1s ease;
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);   /*设置滑入*/
        opacity: 0; /*设置淡入*/
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

.blocks {
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    height: fit-content;
    backdrop-filter: blur(50px);
    animation: slideInFromBottom 1.5s ease;
}

#Intro_and_posts {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;   /*由于display为flex，而子元素全部使用百分比设置宽度，所以当文本溢出时，可能整个intro_and_posts会变宽。因此直接使用vw限定宽度即可。*/
    height: fit-content;
}

@media(min-width: 1500px) {
    #Intro_and_posts {
        width: 1200px;
    }
}

#Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: 5px 0 5px 0;
    animation: slideInFromBottom 1.5s ease;
}

@media (max-width: 800px) { /*当Intro块的宽度小于800px时隐藏元素*/
    #Intro {
        display: none;
    }
}

#Intro_title {
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    color: rgb(172, 61, 151);
}

#Intro_content {
    text-align: left;
    width: 80%;
    height: fit-content;
    margin: auto;
    color: rgb(89, 31, 78);
    backdrop-filter: blur(80px);
    display: inline-block;
    overflow: hidden;   /*文本溢出时，隐藏溢出部分*/
    text-overflow: ellipsis;    /*文本溢出时，显示省略号*/
    overflow-wrap: break-word;  /*允许溢出时单词换行*/
    word-wrap: break-word;
    white-space: normal;
}

#avatar {
    background-image: url(../img/avatar.jpg);
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50px;
}

.social_media_link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.social_media_link:hover {
    transform: scale(1.1);
}

#bilibili {
    background: linear-gradient(-45deg, rgb(253, 58, 116), rgb(33, 140, 255));
}

#bilibili span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 245);
}

#bilibili_logo {
    display: inline-block;
    background-image: url(../img/bilibili.png);
    background-size: cover;
    width: 25px;
    height: 25px;
}

#github {
    background: linear-gradient(-45deg, rgb(37, 37, 37), rgb(122, 122, 122));
}

#github span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 245);
}

#github_logo {
    display: inline-block;
    background-image: url(../img/github.png);
    background-size: cover;
    width: 25px;
    height: 25px;
}

#posts_display {
    background: transparent;
    backdrop-filter: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    width: 64%;
    color: #26284a;
}

@media(max-width: 800px) {
    #posts_display {
        width: 95%;
    }
}

#featured {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: x-large;
    background: linear-gradient(-45deg, rgb(13, 0, 255), rgb(253, 85, 127));
    -webkit-background-clip: text;
    color: transparent;
}

.post_display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: 5px 0 5px 0;
    font-family: 'Roboto Mono', 'Noto Sans Simplified Chinese';
    cursor: pointer;
    backdrop-filter: blur(50px);
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 
        0px 0px 5px -1px gray,
        0px 0px 3px -2.5px rgb(101, 101, 101),
        0px 0px 1px -3px rgb(65, 65, 65);
}

.post_display:hover {
    transform: scale(1.05);
}

.post_message {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    padding: 20px;
}

.post_title {
    display: flex;
    align-items: center;
    padding: 40px 20px 20px 20px;
    width: 97%;
    height: 30%;
    font-size: x-large;
}

.post_time {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
    font-size: xx-small;
}

.post_summary {
    width: 55%;
    height: 100%;
    display: inline-block;
    overflow: hidden;   /*文本溢出时，隐藏溢出部分*/
    text-overflow: ellipsis;    /*文本溢出时，显示省略号*/
    overflow-wrap: break-word;  /*允许溢出时单词换行*/
    word-wrap: break-word;
    white-space: normal;
}

