@import url(home.css);

:root {
    --get_back_logo_display: none;
    --get_back_logo_animation: none;
    --get_back_animation: none;
}

#post_detail {
    display: none;
    width: 64%;
    height: fit-content;
    margin: 5px 0 5px 0;
    flex-direction: column;
    align-items: center;
}

#post_detail a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    /* background: linear-gradient(-45deg, rgb(13, 0, 255), rgb(200, 85, 253));
    -webkit-background-clip: text;
    color: transparent; */
    font-size: large;
    font-weight: 600;
    color: rgb(113, 83, 247);
}

#post_detail a:hover {
    --get_back_logo_display: flex;
    --get_back_logo_animation: fadeIn 0.3s ease-in;
    --get_back_animation: slideToRight 0.3s ease-out;
}

#get_back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: fit-content;
    height: 30px;
    animation: var(--get_back_animation);
}

#get_back_logo {
    display: var(--get_back_logo_display);
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    animation: var(--get_back_logo_animation);
}

@keyframes slideToRight {   /*箭头logo显示后get_back的位置自动右移了30px，所以应当从-30px开始动画*/
    from {
        transform: translateX(-30px);
    } to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        scale: 0;
        opacity: 0;
        rotate: 90deg;
    } to {
        scale: 100%;
        opacity: 100%;
        rotate: 0deg;
    }
}

#post_content {
    width: 100%;
    height: fit-content;
    margin: 10px;
    overflow-wrap: break-word;  /*允许溢出时单词换行*/
    word-wrap: break-word;
    white-space: normal;
}