body {
    color: #32367e;
}

::placeholder {
    color: #6f72ad;
    font-family: 'Roboto Mono', 'Noto Sans Simplified Chinese';
}

#sys_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 650px;
    margin-top: 5vh;
}

@media(max-width: 800px) {
    #sys_main {
        width: 800px;
    }
}

@media(min-width: 1000px) {
    #sys_main {
        width: 900px;
    }
}

#sys_posts_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    overflow-y: scroll; /*设置元素溢出时滚动*/
    animation: slideInFromLeft 1.5s ease;
}

#sys_posts_list ul {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-rows: repeat(auto-fill, 84px);
    column-gap: 5px;
    width: 95%;
    height: 90%;
    list-style-type: none;
    overflow-y: scroll;
    padding: 5px;
}

#sys_posts_list ul li {
    display: inline-block;  /*下面的文字溢出设置对Flex无效*/
    backdrop-filter: blur(50px);
    border-radius: 10px;
    width: 95%;
    height: 80px;
    margin: 2px 0 2px 0;
    padding: 20px;
    cursor: pointer;
    line-height: 40px;  /*inline-block仅能通过设置该属性使单行居中*/
    overflow: hidden;   /*文本溢出时，隐藏溢出部分*/
    text-overflow: ellipsis;    /*文本溢出时，显示省略号*/
    white-space: nowrap;    /*文本溢出时，不换行*/
    font-size: large;
    transition: transform 0.3s ease;
}

#sys_posts_list ul li:hover {
    transform: scale(1.05);
}

#add_new_post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 15%;
    padding: 5px;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#add_new_post:hover {
    transform: scale(1.05);
}

#sys_post_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(50px);
    width: 60%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    animation: slideInFromRight 1.5s ease;
}

#adding_new_post {
    display: flex;
    font-size: large;
    font-weight: 700;
    color:#141875;
}

#sys_post_detail_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

#sys_post_detail_form input {
    margin: 10px 0 10px 0;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#sys_post_id {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0 5px 0 5px;
}

#featured_label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 10px 0 10px 0;
    padding: 5px;
}

#featured {
    display: flex;
    width: 20px;
    height: 20px;
}

#featured_label p {
    padding: 10px;
}

#file_choose_label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    margin: 0 5px 0 5px;
    word-wrap: nowrap;
    color: #32367e;
}


#file_choose_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    height: 80%;
    padding: 5px;
    margin: 5px 0 5px 0;
    font-size: large;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease;
    background: linear-gradient(-45deg, rgb(13, 0, 255), rgb(253, 85, 127));
    -webkit-background-clip: text;
    color: transparent;
}

#file_choose_button::before {
    content: "";
    position: absolute;
    inset: -2px;
    padding: 2px;
    border-radius: 15px;
    background: linear-gradient(-45deg, rgb(13, 0, 255), rgb(253, 85, 127));
    mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
    -webkit-mask-composite: xor;
}

#file_choose_label p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#file_choose_button:hover {
    transform: scale(1.05);
}

#sys_post_title_label {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

#sys_post_title_label p {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 0 10px 0 5px;
}

#sys_post_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px !important;
    margin: 0 5px 0 5px;
    font-size: large;
    line-height: 30px;
}

#sys_post_title::placeholder {
    display: flex;
    align-items: center;
    font-size: large;
    white-space: nowrap;
    line-height: 28px;
}

#sys_post_detail_form textarea {
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 5px;
    margin: 10px 0 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #26295e;
    color: #a3a6e7;
    transition: transform 0.3s ease;
    white-space: normal;
}

#sys_post_detail_form textarea:focus {  /* 更改textarea聚焦时的样式*/
    outline: none;
    background-color: #2f3374;
    transform: scale(1.05);
}

#postFile {
    display: none;
}

#summary {
    display: block;
    width: 100%;
    height: 20%;
    font-size: small;
}

#content {
    display: block;
    width: 100%;
    height: 40%;
    font-size: small;
}

#sys_post_detail_btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 10px 0 10px 0;
}

#sys_post_detail_btns input {
    width: 30%;
    height: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#sys_post_detail_btns input:hover {
    transform: scale(1.1);
}

#upload {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 91, 255);
    color: white;
    font-size: large;
}

#delete {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 105, 128);
    color: white;
    font-size: large;
}